@page
@model AgenciaDeViagensNyssa.Pages.Promocoes.IndexModel
@{
}

<br>
<section class="py-5 text-center container bg-transparent">
</section>
<br>
<div class="container">
    <div class="col">
        <div class="card shadow-sm">
            <img src="~/card1.jpg">
            <div class="card-body">
                <h1>Pacotes de 2 voos suborbitais</h1>
                <ul>
                    <li class="card-text">Refeição matinal inclusa</li>
                    <li class="card-text">Deslocamento do aeroporto até o local e hospedagem inclusos</li>
                    <li class="card-text">Passagem aérea não inclusas saindo do Brasil até os Estados Unidos ida e volta</li>
                </ul>
                <p class="card-text"><s>De: R$ 1.500.000,00 por pessoa</s></p>
                <p class="card-text">Por: R$ 1.000.000,00 por pessoa</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-lg btn-success">Reservar agora antes que acabe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
<br>
<br>
<div class="container">
    <div class="col">
        <div class="card shadow-sm">
            <img src="~/card2.jpg">
            <div class="card-body">
                <h1>Pacotes de 15 diárias</h1>
                <ul>
                    <li class="card-text">Refeição matinal inclusa</li>
                    <li class="card-text">Deslocamento do aeroporto até o local e hospedagem inclusos</li>
                    <li class="card-text">Passagem aérea inclusas saindo do Brasil até a Tailândia ida e volta</li>
                    <li class="card-text">Passeios inclusos</li>
                </ul>
                <p class="card-text"><s>De: R$ 25.000,00 por pessoa</s></p>
                <p class="card-text">Por: R$ 10.000,00 por pessoa</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-lg btn-success">Reservar agora antes que acabe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="col">
        <div class="card shadow-sm">
            <img src="~/card3.jpg">
            <div class="card-body">
                <h1>Pacotes de 10 diárias</h1>
                <ul>
                    <li class="card-text">Refeição matinal inclusa</li>
                    <li class="card-text">Deslocamento da casa do cliente até o aeroporto de partida incluso</li>
                    <li class="card-text">Deslocamento do aeroporto até o local e hospedagem inclusos</li>
                    <li class="card-text">Passagem aérea inclusas saindo do aeroporto de Guarulho até o aeroporto de Caxias do Sul ida e volta</li>
                    <li class="card-text">Passeios inclusos por todas as cidades que formam a Serra Gaúcha</li>
                </ul>
                <p class="card-text"><s>De: R$ 6.000,00 por pessoa</s></p>
                <p class="card-text">Por: R$ 3.500,00 por pessoa</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-lg btn-success">Reservar agora antes que acabe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

