@page
@model AgenciaDeViagensNyssa.Pages.Login.IndexModel
@{
}

<br>
<div class="body">
    <div class="form-signin w-100 m-auto">
        <form>
            <div class="form-floating w-30">
                <input type="email" class="form-control w-30" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">
                    Endereço de email
                </label>
            </div>
            <div class="form-floating w-30">
                <input type="password" class="form-control w-30" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">
                    Senha
                </label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Esqueci minha senha
                </label>
            </div>
            <button class="w-25 btn btn-lg btn-primary" type="button">
                Entrar
            </button>
        </form>
    </div>
</div> 