@page
@model AgenciaDeViagensNyssa.Pages.Destinos.IndexModel
@{
}

<br>
<div class="album py-5 bg-transparent">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="~/card1.jpg">
                    <div class="card-body">
                        <p class="card-text">Já pensou em fazer aquele voo diferentão, que é um marco na vida? Agora imagine um voo na Virgin Galactic, fazer aquela viagem suborbital, nada como ver o planeta de outro perspectiva!</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-lg btn-success">Reservar agora</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="~/card2.jpg">
                    <div class="card-body">
                        <p class="card-text">Já pensou em ir ao país conhecido pelas praias tropicais, pelos palácios reais suntuosos, pelas ruínas antigas e pelos templos ornamentados com figuras de Buda? Então a sua vibe é a Tailândia.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-lg btn-success">Reservar agora</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="~/card3.jpg">
                    <div class="card-body">
                        <p class="card-text">Conhecida por suas paisagens naturais, o friozinho das montanhas, gastronomia rica, muito vinho, tudo isso localizado em Gramado, Canela, Nova Petrópolis,Bento Gonçalves, Garibaldi e Carlos Barbosa.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-lg btn-success">Reservar agora</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img src="~/card4.jpg">
                    <div class="card-body">
                        <p class="card-text">São Petersburgo é um centro cultural, com locais como o ultramoderno Teatro Mariinski, com ópera e balé, e o Museu Russo que expõe desde pinturas de ícones ortodoxos até obras de Kandinsky.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-lg btn-success">Reservar agora</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="~/card5.jpg">

                    <div class="card-body">
                        <p class="card-text">País escandinavo, abrange montanhas, geleiras e fiordes litorâneos profundos, existem navios vikings preservados do século IX, e sua aurora boreal, é de tirar o folêgo, essa é a Noruega.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-lg btn-success">Reservar agora</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="~/card6.jpg">

                    <div class="card-body">
                        <p class="card-text">Dunas, praias lindas com mar morninho e sol garantido praticamente o ano todo, a culinária da cidade é recheada a fartura de camarões, passeios de bugue pelas dunas de Genipabu, essa é Natal.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-lg btn-success">Reservar agora</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img src="~/card7.jpg">

                    <div class="card-body">
                        <p class="card-text">Conhecida como "Ilha da Magia", paradisíacas, ótimos picos de surf, lagoas, dunas, trilhas, construções coloniais, sítios arqueológicos e gastronomia deliciosa, essa é Florianópolis.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-lg btn-success">Reservar agora</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="~/card8.jpg">

                    <div class="card-body">
                        <p class="card-text">A cidade que nasceu do cultivo de pérolas, hoje é grande centro de negócios, lojas de luxo, tradição com os mercados de ouro e muitas atrações para os visitantes. Essa é Dubai.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-lg btn-success">Reservar agora</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="~/card9.jpg">
                    <div class="card-body">
                        <p class="card-text text-black">Rios de águas cristalinas, grutas, fauna e flora preservadas e considerado um dos principais destinos, topzera do ecoturismo Brasileiro, vamos se divertir em Bonito no Mato Grosso do Sul. </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">

                                <button type="button" class="btn btn-lg btn-success">Reservar agora</button>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>